<h1>All Contacts</h1>

<ul>
  <% $rolodex.contacts.each do |contact| %>
<li><%= contact.id %> <%= contact.first_name %> <%= contact.last_name %> <a href="/contacts/<%= contact.id %>/edit">Edit a Contact</a>  <a href="/contacts/<%= contact.id %>">View Contact</a>
<% end %>
</ul>




