<h1>Edit a Contact</h1>

<form action="/contacts/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="first_name" value="<%= @contact.first_name %>">
  <input type="text" name="last_name" value="<%= @contact.last_name %>">
  <input type="text" name="email" value="<%= @contact.email %>">
  <input type="text" name="note" value="<%= @contact.notes %>">
  <input type="submit" name="Submit">
</form>






<!--
<form action = "/contacts" method = "post">
<input type="hidden" name="_method" value="put">
 <div class="field">
    <label for="id">id of contact you want to edit</label>
    <input type="numerical" name="id" id="id" placeholder="e.g. 1002">
  </div>

  <div class="field">
    <label for="first_name">Type the new first name</label>
    <input type="text" name="first_name" id="first_name" placeholder="e.g. Kevin">
  </div>

  <div class="field">
    <label for="last_name">Type the new last name</label>
    <input id="last_name" type="text" name="last_name" placeholder="e.g. Kuhlmann">
  </div>

  <div class="field">
    <label for="email">Type the new email</label>
    <input type="email" name="email" id="email" placeholder="e.g. example@gmail.com">
  </div>

  <div class="field">
    <label for="notes">Type the new notes</label>
    <input id="notes" type="text" name="notes" placeholder="e.g. Bitmaker student">
  </div>


  <input type="submit" value="Edit Contact">
</form>
 -->